{% extends "blog/base.html" %}
{% block content %}
    <h1 class="">About Daily Thoughts</h1>


    <figure class="text-left">
        <blockquote class="blockquote">
            <p>Scrisul, pentru mine, este doar gandire prin degetele mele.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Isaac Asimov <cite title="Source Title">Filozofie</cite>
        </figcaption>
    </figure>

    <h4>Scopul acestei pagini este sa va scrie-ti gandurile, ideile si parerile!</h4>
    <h5>Pe aceasta pagina veti gasi informatii legate de :</h5>
    <ul>
        <li>Software Development</li>
        <li>Dezvoltare Personala</li>
        <li>Blockchain</li>
        <li>TechInfo</li>
        <li>Calitati si Defecte</li>
        <li>Sfaturi Utile pentru programatori</li>
        <li>Cryptomonezi</li>


    </ul>

{% endblock content %}





